<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Quotio</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>quotio</string>
			</array>
		</dict>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>PostHogHost</key>
	<string>$(POSTHOG_HOST)</string>
	<key>PostHogProjectToken</key>
	<string>$(POSTHOG_PROJECT_TOKEN)</string>
	<key>QuotioReleaseRepository</key>
	<string>$(QUOTIO_RELEASE_REPOSITORY)</string>
	<key>QuotioUpstreamRepository</key>
	<string>$(QUOTIO_UPSTREAM_REPOSITORY)</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://github.com/$(QUOTIO_RELEASE_REPOSITORY)/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>$(SPARKLE_PUBLIC_ED_KEY)</string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
</dict>
</plist>
